# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

dist/
# Optional: SSR build output
# dist-ssr/

# Environment files
*.local
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# stray eval ssh-agent files (should not be committed)
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub
